body {
  background-color: black !important;
  color: white !important;
}

#parallelogram {
  width: 550px;
  height: 100px;
  transform: skew(-20deg);
  background: white;
}

#triangle {
  width: 0;
  height: 0;
  border-top: 120px solid white;
  border-right: 50px solid transparent;
}

.main-div {
  padding: 1% 40% 0 15%;
  position: relative;
}

.custom-button {
  transform: skew(20deg);
  background: white;
  color: black;
  padding: 0.9rem;
  width: 230px;
  text-align: center;
  border: none;
  font-family: "Montserrat-Regular";
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  -webkit-transform: perspective(300px) rotateX(30deg);
  -o-transform: perspective(300px) rotateX(30deg);
  -moz-transform: perspective(300px) rotateX(30deg);
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.custom-button:hover {
  border: 2px solid white;
  background-color: black;
  color: white;
}

.line {
  border-left: 1px solid rgb(255, 255, 255);
  transform: skew(-20deg);
}

.custom-button span {
    transform: skew(20deg);

}

.white-div {
  background: white;
  height: 120px;
}

@media (max-width: 1480px) {
  .white-div {
    height: 150px;
  }
  #triangle {
    border-top: 150px solid white;
  }
}

.title {
  font-size: 50px;
  line-height: 50px;
  font-family: "DidotLTPro-Headline";
  color: black;
  text-transform: capitalize;
}

.desc {
  font-size: 13px;
  font-family: "Montserrat-Thin";
  color: black;
}

.heading {
  font-size: 14px;
  font-family: "Montserrat-Regular";
}

.light-text {
  font-size: 16px;
  font-family: "Montserrat-Thin";
  margin-bottom: 0.5rem;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.error {
  font-size: 11px !important;
  font-family: "Montserrat-Light" !important;
  color: #d32f2f;
  padding: 0;
}

.nav-bar {
  margin: 0rem 5.5rem;
  text-align: center;
  font-size: 12px;
  font-family: "Montserrat-Regular";
  text-transform: uppercase;
}

.sticky {
  z-index: 1;
  position: fixed;
  top: 20px;
  width: 90%;
  box-shadow: 0px 0.2rem 0.2rem 0px rgb(0 0 0 / 40%) !important;
}

.MuiInputLabel-formControl,
.MuiInputLabel-shrink,
.MuiInput-input,
.MuiFormControlLabel-label {
  font-size: 14px !important;
  font-family: "Montserrat-Thin" !important;
}

.MuiFormHelperText-root {
  font-size: 11px !important;
  font-family: "Montserrat-Light" !important;
}

.MuiInputLabel-formControl,
.MuiInput-input,
.MuiIconButton-root {
  color: white !important;
}

.MuiInput-root::before {
  border-bottom: 1px solid white !important;
}

.MuiInput-root::after {
  border-bottom: 1px solid #64c9d1 !important;
}

.Mui-checked {
  color: #64c9d1 !important;
}

.MuiAutocomplete-listbox,
.MuiAutocomplete-noOptions {
  background-color: black !important;
  color: white !important;
  font-family: "Montserrat-Thin" !important;
  font-size: 14px !important;
}

.MuiAutocomplete-option:hover,
.MuiAutocomplete-noOptions:hover {
  background-color: white !important;
  color: black !important;
}

.search > div > div > div > button > svg {
  display: none;
}

.shape {
  -webkit-transform: perspective(300px) rotateX(30deg);

  -o-transform: perspective(300px) rotateX(30deg);

  -moz-transform: perspective(300px) rotateX(30deg);

  -webkit-transform-origin: 100% 50%;

  -moz-transform-origin: 100% 50%;

  -o-transform-origin: 100% 50%;

  transform-origin: 100% 50%;
}
